.colors-to-remove {
  /* Theme colors applied */
  color: #00fff7;
  color: #e100ff;
  color: #12141f;
  color: #12141f33;
  color: #12141f7a;
  color: #c3a7d1;
  color: #8ffffb;
  color: #cc8f00;
  color: #0a0b14;
  color: #21243c;
  color: #ffd700;
  color: #b200cc;
  color: #2d2f54;
  color: #e4d5ea;
  color: #ff2e6e;
  color: rgba(0, 0, 0, 0);
  color: rgba(225, 0, 255, 0.3);
  color: rgba(41, 0, 47, 0.5);
  color: rgba(41, 0, 47, 0.3);
  color: rgba(41, 0, 47, 0.7);

  /* Not relevant to removal */
  color: #4799a5;
  color: #5e5d5c;
  color: #387881;
  color: #eeeeee;
  color: #c4c3c2;
  color: #ffffff;
  color: rgba(43, 41, 40, 0.1);
  color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0);

  /* Needs to change */

  color: #e56a54;
  color: #e25b42;
  color: #75bac4;
  color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  color: rgba(246, 246, 246, 0.3);
}

.purple-neon {
  --primary-color: #e100ff;
  --primary-color-hover: #b200cc;
  --primary-color-disabled: #c3a7d1;

  --text-color: #e4d5ea;
  --indicador-color: rgba(225, 0, 255, 0.3);
  --backdrop-color: rgba(41, 0, 47, 0.5);
  --backdrop-hover-color: rgba(41, 0, 47, 0.3);
  --backdrop-active-color: rgba(41, 0, 47, 0.7);

  --hover-color: #00fff7;
  --active-color: #ffd700;
  --active-disabled-color: #d1caa7;

  --accent-color: #00fff7;
  --accent-color-hover: #8ffffb;
  --highlight-color: #9d00b3;

  --primary-background: #12141f;
  --primary-background-hover: #2d2f54;
  --secondary-background: #0a0b14;
  --secondary-background-hover: #21243c;

  --yellow: #ffd700;
  --orange: #ffa500;
  --red: #ff2e6e;
  --cyan: #00fff7;
  --purple: #e100ff;
}
