.green {
  --primary-color: #a7d3a0;
  --text-color: #b5cdb0;
  --accent-color: #4b5b8b;
  --bg-color: #090b04;
}

.purple {
  --primary-color: #7b4b8b;
  --primary-color-hover: #692d7e;
  --primary-color-disabled: #9777a3;
  --text-color: #c4b0cd;
  --accent-color: #4b5b8b;
  --highlight-color: #7b4b8b;
  --primary-background: #12141f; /* Lighter */
  --primary-background-hover: #2d2f54;
  --secondary-background: #0a0b14; /* Darker */
  --secondary-background-hover: #21243c;
  --yellow: #ffdd00;
  --red: #ff1f1f;
  --cyan: #00ffff;
  --purple: #e100ff;
}

.backup {
  --bg-0: #0a0b14;
  --bg-0: #0d0a14;
  --bg-0: #140a0a;
  --bg-0: #12141f;
  --bg-0: #14121f;
  --accent-color: #ac00e6;
}
