@use "./inputs.scss";
@use "./scrollbar.scss";

$primary-color: #e100ff;
$accent-color: #00ffff;
$hover-color: #00ffff;
$primary-bg-color: #12141f;
$secondary-bg-color: #0a0b14;
* {
  border-radius: 0;

  &:selected {
    color: $accent-color;
  }
  &:hover {
    color: $hover-color;
  }
}

// * Windows

GtkApplicationWindow,
dialog,
window {
  box-shadow: 0 0 5px $primary-color, 0 0 10px $primary-color,
    0 0 15px $primary-color;
}

.background,
GtkApplicationWindow,
dialog,
headerbar,
window {
  color: $primary-color;
  background-color: $primary-bg-color;
  border: 1px solid $primary-color;
}

headerbar {
  padding: 8px;
}

.activatable {
  &:hover {
    color: $hover-color;
  }
  &:selected {
    color: $accent-color;
  }
}

GtkApplicationWindow,
dialog,
window {
  border: 1px solid $primary-color;
  outline: 0;
}

window {
  color: $primary-color;

  separator {
    background-color: $primary-color;
    width: 100%;
    margin: 0;
  }

  .sidebar-row {
    margin: 0;
    padding: 8px;
  }

  cell {
    color: #c4b0cd;
  }
}

button {
  padding: 8px;
  border: 1px solid $primary-color;
  color: $primary-color;

  &:hover {
    border-color: $hover-color;
    color: $hover-color;
  }
  &:selected {
    border-color: $accent-color;
    color: $accent-color;
  }
}

windowhandle {
  color: $primary-color;
}

.linked > * {
  margin: 0 4px;
}

@define-color theme_fg_color $primary-color;

@define-color theme_text_color $primary-color;

@define-color theme_bg_color $primary-bg-color;

@define-color theme_base_color $primary-bg-color;

@define-color theme_selected_bg_color $secondary-bg-color;

@define-color theme_selected_fg_color $primary-color;

@define-color insensitive_bg_color #4a122f;

@define-color insensitive_fg_color #c01c32;

@define-color insensitive_base_color #013334;

@define-color theme_unfocused_fg_color $primary-color;

@define-color theme_unfocused_text_color $primary-color;

@define-color theme_unfocused_bg_color $primary-bg-color;

@define-color theme_unfocused_base_color $primary-bg-color;

@define-color theme_unfocused_selected_bg_color $secondary-bg-color;

@define-color theme_unfocused_selected_fg_color $primary-color;

@define-color unfocused_insensitive_color #c01c32;

@define-color borders $primary-color;

@define-color unfocused_borders $primary-color;

@define-color warning_color #ffbe6f;
@define-color error_color #CC0000;
@define-color success_color #29ff89;
@define-color wm_title shade(#00fFff, 1.8);
@define-color wm_unfocused_title #00fFff;
@define-color wm_highlight $accent-color;
@define-color wm_borders_edge $primary-color;
@define-color wm_bg_a shade(#002428, 1.2);
@define-color wm_bg_b #002428;
@define-color wm_shadow alpha(#57e389, 0.35);
@define-color wm_border alpha(#57e389, 0.18);
@define-color wm_button_hover_color_a shade(#002428, 1.3);
@define-color wm_button_hover_color_b #002428;
@define-color wm_button_active_color_a shade(#002428, 0.85);
@define-color wm_button_active_color_b shade(#002428, 0.89);
@define-color wm_button_active_color_c shade(#002428, 0.9);
@define-color content_view_bg $primary-bg-color;
