:root {
  --accent-color: #7b4b8b;
  /* 
  --accent-bg-color: yellow;
  --border-color: yellow;
  --border-opacity: 100%;
  --headbar-backdrop-color: yellow;
  --headbar-bg-color: yellow;
  --secondary-sidebar-bg-color: yellow;
  --dim-opacity: 0;
  */
}

GtkApplicationWindow,
window {
  border-radius: 0;
  outline: 2px solid #7b4b8b;
  color: #7b4b8b;
}

window .undershoot-top {
  background-color: #12141f;
}

window .navigation-sidebar {
  border: 1px solid #7b4b8b;
  border-width: 0 2px 0 0;
  padding: 0;
  margin: 0;
}

window separator {
  background-color: #7b4b8b;
  width: 100%;
  margin: 0;
}

window .sidebar-row {
  border-radius: 0;
  padding: 0;
  margin: 0;
  padding: 8px;
  border: 2px solid transparent;
  color: #7b4b8b;
}

window .sidebar-row:hover {
  background: #4b5b8b;
  color: #090b04;
}

window .sidebar-row:selected {
  background: #7b4b8b;
  color: #090b04;
}

window cell {
  color: #c4b0cd;
}

window picture {
  color: #7b4b8b;
}

window .content-pane .vertical banner {
  background-color: #7b4b8b;
}

windowhandle {
  color: #7b4b8b;
}
